<%- include('../partials/indexHeader.ejs') %>

<body>
    <div class="container">
        <h1>Sign Up!</h1>
        <form action="/profile/register" method="POST" class="signUp">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="dob" placeholder="Date of Birth">
            <input type="text" name="location" placeholder="Location">
            <input type="text" name="interests" placeholder="Interests">
            <input type="text" name="img" placeholder="Image Link">
            <input type="submit" placeholder="Submit">
        </form>
    </div>
</body>

<%- include('../partials/footer') %>