<%- include('../partials/header') %>

<body>
    <h1>Hello There! Show Route</h1>
    <h2><%= profile.username %></h2>
    <img src="<%= profile.img %>" alt="">
</body>

<%- include('../partials/footer') %>