<%- include('../partials/indexHeader.ejs') %>

<body>
    <div class="container">
        <h1>Sign In!</h1>
        <form action="/profile/signin" method="POST" class="signIn">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="submit" placeholder="Submit">
        </form>
    </div>
</body>

<%- include('../partials/footer') %>