<%- include('./partials/header.ejs') %>

<body>
    <div class="container">
        <h1>Welcome To Crossroads!</h1>

        <div class="btn">
            <button><a href="newprofile/">Sign Up</a></button>
            <button><a href="signin/">Sign In</a></button>
        </div>
    </div>
</body>

<%- include('./partials/footer') %>